<!DOCTYPE html>
<!--th:replace="base::layout(~{::section}) data will be passed to base.html-->
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>About</title>
<script type="text/javascript"></script>
</head>
<body>
<section>
    <h1>This is about section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sequi ut optio ex nisi quas soluta, hic voluptas pariatur maxime nostrum voluptates culpa rerum rem laborum ullam possimus praesentium libero id aut sit. Beatae sapiente soluta maxime ipsa laboriosam eius rerum molestias fuga itaque. Nemo fugiat, sint totam vero voluptatem quaerat praesentium reiciendis cupiditate soluta, molestias facere sapiente qui porro aut dolores et vel nobis est minima. Dolorem, eos modi perspiciatis, ipsam placeat quod, inventore atque esse quos non architecto minima consectetur excepturi ducimus corrupti voluptates ratione fuga ullam aliquam animi veritatis libero itaque nostrum! Nulla maiores recusandae eius illum!</p>
</section>
</body>
</html>
