<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Contact</title>
<script type="text/javascript"></script>
</head>
<body>
<section>
    <h1>This is contact page
    </h1>
    <p>Enim eu turpis egestas pretium aenean pharetra magna ac. Eu non diam phasellus vestibulum lorem sed. Pharetra convallis posuere morbi leo urna molestie at. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Feugiat vivamus at augue eget arcu dictum varius. Nibh venenatis cras sed felis. Elementum tempus egestas sed sed risus pretium quam vulputate. Donec massa sapien faucibus et. Tempus imperdiet nulla malesuada pellentesque elit. Tincidunt eget nullam non nisi est sit amet facilisis magna.

        Sed ullamcorper morbi tincidunt ornare massa eget egestas. Aliquet sagittis id consectetur purus. Dolor magna eget est lorem ipsum dolor. Maecenas volutpat blandit aliquam etiam erat velit scelerisque. Consequat mauris nunc congue nisi vitae. Cum sociis natoque penatibus et magnis. Arcu ac tortor dignissim convallis. Vitae tempus quam pellentesque nec nam aliquam. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Id diam maecenas ultricies mi eget mauris pharetra et ultrices.
    </p>
</section>
</body>
</html>
