<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer template</title>
<script type="text/javascript"></script>
</head>
<body>
<footer id="fragmentTag" th:style="'color:red'" th:fragment="footer1(title,subtitle)">

    <div  class="container" >
        <h1 th:text="${title}">About Springboot</h1>
        <h2 th:text="${subtitle}">Provide framework to work with java</h2>
        <h1>Check the communiity page for more info</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus omnis architecto laboriosam a explicabo at, consectetur tempore doloribus, expedita voluptatibus, quam temporibus inventore magni dolor quo sunt error? Quis, praesentium. </p>
    </div>
</footer>
</body>
</html>
