<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <title>Sign up</title>
 
  </head>
  <body>
    <section >

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">   
                <div class="my-card mt-3">
                  <!--Conditional REndering-->
                  <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert"><p class="text-center" th:text="${session.message.content}"></p>
                  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                  </div>
                    <h1 class="text-center">Register here!</h1>
                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}">

                        <div class="mb-3">
                            <label for="name_field" class="form-label">Your name</label>
                            <input type="text" class="form-control" id="name_field" aria-describedby="emailHelp" name="name" placeholder="Enter here" th:value="${user.name}" required >
                           
                          </div>
                          <div class="mb-3">
                            <label for="email_field" class="form-label">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email_field" aria-describedby="emailHelp" th:value="${user.email}" placeholder="Enter here"
 required                           > 
                           
                          </div>
                          <div class="mb-3">
                            <label for="password_field" class="form-label">Your Password</label>
                            <input type="password" class="form-control" name="password" 
        id="password_field" th:value="${user.password}" placeholder="Enter here">
                          </div>
                       <!--User about field-->
                      <div class="form-group mb-3">
                       <textarea name="about" id="" cols="25" rows="10" class="form-control" th:value="${user.about}" placeholder="Enter something here"></textarea>
                      </div>
       <div class="form-group form-check">
        <input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
        <label for="agreement">Accept terms and conditions!</label>
       </div>            
                <div class="container">

                    <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>

                      
                    <button type="reset" class="btn btn-secondary w-100 mt-3">Reset</button>
                </div>    
                    
                    </form>
                </div>
                

            </div>
        </div>
    </div>
    </section>
  </body>
</html>